In [1]:
import os
import pandas as pd
import copy
sep = '#'*50
print(sep)
os.listdir()
def set0(l,return_dict=False):
    l_t = []
    d_t = {}
    for i in l:
        if i not in l_t:
            l_t.append(i)
            d_t[i]=1
        else:
            d_t[i] = d_t[i]+1
    if return_dict:
        return d_t
    else:
        return l_t

##################################################

In [6]:
t = '''3   4
4   3
2   5
1   3
3   9
3   3'''
def d1(df_t):
    filter = ['r1','r2']
    df_t.columns = filter
    df_t['s1'] = df_t['r1'].sort_values().values

    # df_t['s1'] = df_t.sort_values(by=['r1'])['r1'].values
    # display(df_t.sort_values(by=['r1']))
    # display(df_t.sort_values(by=['r1'])['r1'])
    df_t['s2'] = df_t['r2'].sort_values().values
    df_t['d1'] = df_t['s2']-df_t['s1']
    df_t['d2'] = df_t['d1'].abs()
    display(df_t)
    print(df_t['d2'].sum())
    return df_t

def d2(df_t):
    l_t = []
    for index,row in df_t.iterrows():
        i = row['r1']
        # print(i)
        filter = df_t['r2']==i
        df_tt = df_t[filter]
        # display(df_tt)
        j = df_tt.shape[0]
        # print(i,j)
        l_t.append(i*j)
    df_t['D2.i*j'] = l_t
    print(df_t['D2.i*j'].sum())
    display(df_t)

    return df_t

    
t = t.split('\n')
df_t = [[],[]]
for i in t:
    i = i.split(' ')
    print(i)
    df_t[0].append(i[0])
    df_t[-1].append(i[-1])
df_t = pd.DataFrame(df_t).T
df_t = df_t.astype(int)
df_t = d1(df_t)
df_t = d2(df_t)

['3', '', '', '4']
['4', '', '', '3']
['2', '', '', '5']
['1', '', '', '3']
['3', '', '', '9']
['3', '', '', '3']

   r1  r2  s1  s2  d1  d2
0   3   4   1   3   2   2
1   4   3   2   3   1   1
2   2   5   3   3   0   0
3   1   3   3   4   1   1
4   3   9   3   5   2   2
5   3   3   4   9   5   5

11
31

   r1  r2  s1  s2  d1  d2  D2.i*j
0   3   4   1   3   2   2       9
1   4   3   2   3   1   1       4
2   2   5   3   3   0   0       0
3   1   3   3   4   1   1       0
4   3   9   3   5   2   2       9
5   3   3   4   9   5   5       9

In [7]:
df_t = pd.read_csv('./input.day_001.txt',sep='   ',engine='python',header=None)
df_t = d1(df_t)
df_t = d2(df_t)

        r1     r2     s1     s2   d1   d2
0    15244  50562  10038  10033   -5    5
1    81245  49036  10073  10076    3    3
2    92897  21393  10109  10095  -14   14
3    63271  60643  10175  10100  -75   75
4    49672  33212  10346  10108 -238  238
..     ...    ...    ...    ...  ...  ...
995  60337  20677  99511  99183 -328  328
996  95870  77445  99521  99461  -60   60
997  51272  34048  99572  99470 -102  102
998  31236  15332  99584  99610   26   26
999  77046  35697  99759  99812   53   53

[1000 rows x 6 columns]

1660292
22776016

        r1     r2     s1     s2   d1   d2  D2.i*j
0    15244  50562  10038  10033   -5    5       0
1    81245  49036  10073  10076    3    3       0
2    92897  21393  10109  10095  -14   14       0
3    63271  60643  10175  10100  -75   75       0
4    49672  33212  10346  10108 -238  238       0
..     ...    ...    ...    ...  ...  ...     ...
995  60337  20677  99511  99183 -328  328  844718
996  95870  77445  99521  99461  -60   60       0
997  51272  34048  99572  99470 -102  102       0
998  31236  15332  99584  99610   26   26   62472
999  77046  35697  99759  99812   53   53       0

[1000 rows x 7 columns]

In [77]:
df_2 = pd.read_csv('./input.day_002.txt',sep=' ',engine='python',header=None)

# df_2 = '''
# 7 6 4 2 1: Safe because the levels are all decreasing by 1 or 2.
# 1 2 7 8 9: Unsafe because 2 7 is an increase of 5.
# 9 7 6 2 1: Unsafe because 6 2 is a decrease of 4.
# 1 3 2 4 5: Unsafe because 1 3 is increasing but 3 2 is decreasing.
# 8 6 4 4 1: Unsafe because 4 4 is neither an increase or a decrease.
# 1 3 6 7 9: Safe because the levels are all increasing by 1, 2, or 3.
# '''
# df_2 = df_2.strip().split('\n')
# df_2 = [i.split(':')[0] for i in df_2 ]
# df_2 = [i.split(' ') for i in df_2]
# df_2 = pd.DataFrame(df_2)
# df_2 = df_2.astype(int)

# df_2
def day2(l,recursion=False):
    # print(l)
    if len(set(l))==1:
        return False
    l_t = []
    t = l[0]
    for i in l[1:]:
        l_t.append(t-i)
        t = i
    # print(l_t)

    l_tt = []
    for i in l_t:
        
        if abs(i) > 3:
            l_tt.append('max')
        if i > 0:
            l_tt.append('pos')
        if i < 0:
            l_tt.append('neg')
        if i == 0:
            l_tt.append('zero')
        # print(l_tt, i,abs(i))
    l_tt = set(l_tt)
    # print(l_tt)
    if len(l_tt)==1:
        return True
    # elif recursion == True:
    #     l_t = []
    #     for i,j in enumerate(l):
    #         # print(l)
    #         i = l[:i] + l[i+1:]
    #         i = day2(i,)
    #         if i == True:
    #             return True

    #         # i = l[:i]
    #         # i = l[i+1:]
    #         # print(i,j)
    #     return False
    else:
        return False
        
l_t = []     
for index,row in df_2.iterrows():
    r = row.dropna().values
    r = list(r)
    # print(i)
    # i = day2(i,recursion=True)
    i = day2(r)
    if i == False:
        # print(r)
        # print('\n',r,)
        for ii,j in enumerate(r):
            ii = r[:ii] + r[ii+1:]
            # print(ii,len(ii))
            ii = day2(ii)
            # print(ii)
            if ii == True:
                i = True
                break
    l_t.append(i)
df_2['safety'] = l_t
display(df_2)

df_2[['safety']].value_counts()

      0   1   2   3   4     5     6     7  safety
0    51  52  55  58  60  61.0  62.0  61.0    True
1    64  65  67  70  72  74.0  77.0  77.0    True
2     2   4   6   9  11  14.0  18.0   NaN    True
3    79  81  82  84  86  88.0  91.0  97.0    True
4    81  83  84  81  83   NaN   NaN   NaN   False
..   ..  ..  ..  ..  ..   ...   ...   ...     ...
995  55  56  57  60  63  64.0  65.0  66.0    True
996  40  39  36  34  32  31.0  30.0  28.0    True
997  52  54  56  57  58  60.0   NaN   NaN    True
998  50  49  48  46  43  42.0   NaN   NaN    True
999  15  12  11   9   6   4.0   NaN   NaN    True

[1000 rows x 9 columns]

safety
False     572
True      428
Name: count, dtype: int64

In [111]:
df_3 = pd.read_csv('./input.day_003.txt',sep='~~~~',engine='python',header=None)
df_3 = df_3.values
df_3 = [i[0] for i in df_3]
t = ''
for i in df_3:
    # print(i)
    t = t +i

df_3 = [t]
# print(df_3)
print(len(df_3))
df_3 = ['xmul(2,4)%&mul[3,7]!@^do_not_mul(5,5)+mul(32,64]then(mul(11,8)mul(8,5))']
def day3(s):
    print('original \t:',s)
    s= s.split('mul(')
    print('mul( \t\t:',s)
    s = [i.split(')')[0] for i in s]
    print(') \t\t:',s)
    s = [i.split(',') for i in s]
    print(', \t\t:',s)
    s = [[j for j in i if j.isdigit()] for i in s]
    print('digit \t\t:',s)
    s = [[j for j in i if len(j)<4] for i in s]
    print('len \t\t:',s)
    s = [i for i in s if len(i)==2]
    print('two numbers \t:',s)
    s = [int(i[0])*int(i[1]) for i in s]
    print('product \t:',s)
    s =sum(s)
    print('sum \t\t:',s)
    return s
sa = 0
for i in df_3:
    sa += day3(i)
print(sa)

1
original 	: xmul(2,4)%&mul[3,7]!@^do_not_mul(5,5)+mul(32,64]then(mul(11,8)mul(8,5))
mul( 		: ['x', '2,4)%&mul[3,7]!@^do_not_', '5,5)+', '32,64]then(', '11,8)', '8,5))']
) 		: ['x', '2,4', '5,5', '32,64]then(', '11,8', '8,5']
, 		: [['x'], ['2', '4'], ['5', '5'], ['32', '64]then('], ['11', '8'], ['8', '5']]
digit 		: [[], ['2', '4'], ['5', '5'], ['32'], ['11', '8'], ['8', '5']]
len 		: [[], ['2', '4'], ['5', '5'], ['32'], ['11', '8'], ['8', '5']]
two numbers 	: [['2', '4'], ['5', '5'], ['11', '8'], ['8', '5']]
product 	: [8, 25, 88, 40]
sum 		: 161
161

6
160683556
160672468

In [81]:
def check_num(n):
    if len(n)>3:
        return 0
    digits = '0123456789'
    for i in n:
        if i not in digits:
            return 0
    return int(n)
        
    return n
def day3_1(s):
    # print(s)
    s = s.split('mul(')
    summ = 0
    return_l = []
    for i in s:
        # print(i)
        if ',' not in i:
            continue
        ii = i.split(',')
        if len(ii)<2:
            continue
        n1 = ii[0]
        n1 = check_num(n1)
        n2 = ii[1]
        if ')' not in n2:
            continue
        n2 = n2.split(')')[0]
        n2 = check_num(n2)
        # print(f'mul({n1},{n2})')
        if 0 not in [n1,n2]:
            return_l.append([n1,n2])
            summ += n1*n2

        # print([i,n1,n2])
    return summ, return_l

# df_3 = 'xmul(2,4)%&mul[3,7]!@^do_not_mul(5,5)+mul(32,64]then(mul(11,8)mul(8,5))'

# df_3 = "xmul(2,4)&mul[3,7]!^don't()_mul(5,5)+mul(32,64](mul(11,8)undo()?mul(8,5))"
# df_3 = df_3.split('\n')
# df_3 = ['do()'+i for i in df_3]
# df_3 = ''.join(df_3)
# print(df_3)


with open('./input.day_003.txt') as f:
    df_3 = f.read()
len(df_3)

result1, l_t1 = day3_1(df_3)
print(result1)

# df_3 = df_3.split('\n')
# df_3 = ['do()'+i for i in df_3]
# df_3 = ''.join(df_3)

df_3 = 'do()'+df_3

result3_p2 = 0
for i in df_3.split("don't()"):
    if 'do()' not in i:
        continue
    ii = i.split('do()')[1:]
    # print(ii)
    ii = ''.join(ii)
    # print(ii)
    r3_p2, l_t3_p2 = day3_1(ii)
    result3_p2 += r3_p2
print(result3_p2)

160672468
84893551

In [145]:
# s_d4 = '''MMMSXXMASM
# MSAMXMSMSA
# AMXSXMAAMM
# MSAMASMSMX
# XMASAMXAMM
# XXAMMXXAMA
# SMSMSASXSS
# SAXAMASAAA
# MAMMMXMMMM
# MXMXAXMASX'''

# s_d4 = '''AAAAXAAAAA
# BBBBBBBBBB
# CCCCCCCCCC
# DDDDXDDDDD
# EEEEEEEEEE
# FFFFFFFFFF
# GGGGGGGGGX'''

with open('./input.day_004.txt') as f:
    s_d4 = f.read()

    
s_d4 = str(s_d4)
s_d4 = s_d4.split('\n')
s_d4 = [i for i in s_d4 if i!= '']


def get_letter(string_list,len_rows,len_cols,row,col):
    if row<0:
        return '.'
    if col<0:
        return '.'
    if row>=len_rows:
        return '.'
    if col>=len_cols:
        return '.'
    
    try:
        return string_list[row][col]
    except:
        print(len_rows,len_cols,row,col)
        raise Exception("break")
    
len_rows=len(s_d4)
len_cols=len(s_d4[0])
print(len_rows,len_cols)

# get_letter(
#     string_list=s_d4,
#     len_rows=len_rows,
#     len_cols=len_cols),
#     row=0,
#     col=1,
# )

def get_word(drow,dcol,string_list,len_rows,len_cols,row,col):
    word = [
        get_letter(row=nr+0*drow,col=nc+0*dcol,string_list=s_d4,len_rows=len_rows,len_cols=len_cols),
        get_letter(row=nr+1*drow,col=nc+1*dcol,string_list=s_d4,len_rows=len_rows,len_cols=len_cols),
        get_letter(row=nr+2*drow,col=nc+2*dcol,string_list=s_d4,len_rows=len_rows,len_cols=len_cols),
        get_letter(row=nr+3*drow,col=nc+3*dcol,string_list=s_d4,len_rows=len_rows,len_cols=len_cols),
    ]
    word = ''.join(word)
    return word

def get_word1(string_list,len_rows,len_cols,row,col):
    word = [
        
        get_letter(row=nr-1,col=nc-1,string_list=s_d4,len_rows=len_rows,len_cols=len_cols),
        get_letter(row=nr-1,col=nc+1,string_list=s_d4,len_rows=len_rows,len_cols=len_cols),
        get_letter(row=nr+1,col=nc+1,string_list=s_d4,len_rows=len_rows,len_cols=len_cols),
        get_letter(row=nr+1,col=nc-1,string_list=s_d4,len_rows=len_rows,len_cols=len_cols),
    ]
    word = ''.join(word)
    return word
    
# for i in s_d4:
#     print(i)
coords = [
    [0,-1],[-1,-1],[-1,0],[-1,1],[0,1],[1,1],[1,0],[1,-1]
]

words_found = []
words_found1 = []
for nr,row in enumerate(s_d4):
    for nc,x in enumerate(row):
        # print(nr,nc,row,x)
        if x=='X':
            # print(nr,nc,row,x)
            for coord in coords:
                word0 = get_word(drow=coord[0],dcol=coord[1],row=nr,col=nc,string_list=s_d4,len_rows=len_rows,len_cols=len_cols)
                words_found.append(word0)
        if x=='A':
            # print(nr,nc,row,x)
                word1 = get_word1(row=nr,col=nc,string_list=s_d4,len_rows=len_rows,len_cols=len_cols)
                words_found1.append(word1)
count=0
for i in words_found:
    if i=='XMAS':
        count+=1
print(count)

count=0

for i in words_found1:
    # print(i)
    if i in ['MMSS','MSSM','SMMS','SSMM']:
        count+=1
print(count)

140 140
2517
1960

In [175]:
# with open('./input.day_005.e.txt') as f:
with open('./input.day_005.txt') as f:
    s_d5 = f.read()

    
s_d5 = str(s_d5)
s_d5 = s_d5.split('\n')
s_d5 = [i for i in s_d5 if i!= '']
d5_rule = [i for i in s_d5 if '|' in i]
d5_rule = [i.split('|') for i in d5_rule]
d5_updates = [i for i in s_d5 if '|' not in i]
d5_updates = [i.split(',') for i in d5_updates]
d5_rule,d5_updates
def d5_check_update(update):
    # print('\n',update)
    sub_rules = []
    for r in d5_rule:
        if r[0] in update:
            if r[1] in update:
                sub_rules.append(r)
                # print(update,r)
    sub_wrongs = [i[::-1] for i in sub_rules]
    for n1,u1 in enumerate(update):
        for n2,u2 in enumerate(update):
            if n1==n2:
                continue
            elif n1>n2:
                r = [u2,u1]
            elif n1<n2:
                r = [u1,u2]
            w = r[::-1]
            if w in sub_rules:
                # print('wrong',w)
                return 0
            # print(r)
    index_mid = len(update)-1
    index_mid = index_mid/2
    index_mid = int(index_mid)
    mid_page = int(update[index_mid])
    # print(index_mid,mid_page)
    return mid_page

s = 0
for i in d5_updates:
    s += d5_check_update(i)
    # break
print(s)

6041

In [25]:
with open('./input.day_006.e.txt') as f:
# with open('./input.day_006.e1.txt') as f:
# with open('./input.day_006.txt') as f:
    l_d6 = f.read()
def d6_find(l,str_in):
    # d6_display(l)
    # direction = ''
    pos = []
    for r,row in enumerate(l):
        for c,col in enumerate(row):
            if col in str_in:
                pos.append([r,c])
                
            # if col=='^':
            #     direction='^'
            # elif col=='v':
            #     direction='v'
            # elif col=='>':
            #     direction='>'
            # elif col=='<':
            #     direction='<'
            # if direction!='':
                # print(r,c,direction)
                # return r,c
    return pos
l_d6 = str(l_d6)
l_d6 = l_d6.split('\n')
l_d6 = [i for i in l_d6 if i!= '']
l_d6 = [[j for j in i] for i in l_d6]

d6_remap = {
    '^':'>',
    '>':'v',
    'v':'<',
    '<':'^',
}
d6_map = {
    '^':'↑',
    '>':'→',
    'v':'↓',
    '<':'←',
}

    # '↑→↓←'
def d6_display(l_of_l,plot=True):
    if plot==True:
        l_str = []
        for i in range(len(l_of_l[0])):
            for l in l_of_l:
                r = ''.join(l[i])
                print(r,end='\t')
            print()
        print(sep)
def d6_update(Map,row,col,Map_c,turns,plot='end'):
    if type(Map_c) == str:
        Map_c = [['0' for c in r] for r in Map]
    if type(turns) == str:
        turns = []
    if plot=='end':
        p_1 = True
        p_2 = False
        p_3 = False
    elif plot=='turns':
        p_1 = True
        p_2 = True
        p_3 = False
    elif plot=='all':
        p_1 = True
        p_2 = True
        p_3 = True
    else:
        p_1 = False
        p_2 = False
        p_3 = False

    try:
        drc = Map[row][col]
    except:
        print('problem')
        d6_display([Map])
        raise ValueError(f"{row},{col}")
    row_new = copy.deepcopy(row)
    col_new = copy.deepcopy(col)
    # Map[row][col] = 'X'
    if drc == '^':
        row_new = row-1
    elif drc == 'v':
        row_new = row+1
    elif drc == '<':
        col_new = col-1
    elif drc == '>':
        col_new = col+1
    else:
        
        raise ValueError(f"{drc} not a ship")


    status = 'continue'
    global known_path
    fill='X'
    fill=d6_map[drc]
    if row_new not in range(len(Map)):
        # end of map
        Map[row][col] = fill
        Map_c = d6_update_path(Map_c,row,col)
        status='end'
        d6_display([Map,Map_c],plot=p_1)
    elif col_new not in range(len(Map[0])):
        # end of map
        Map[row][col] = fill
        Map_c = d6_update_path(Map_c,row,col)
        status='end'
        d6_display([Map,Map_c],plot=p_1)
    elif Map[row_new][col_new] in '#O':
        # reach wall
        
        drc = d6_remap[drc]
        Map[row][col] = drc
        row_new = copy.deepcopy(row)
        col_new = copy.deepcopy(col)
        d6_display([Map,Map_c],plot=p_2)
        status = 'turn'
        turns.append([row,col,drc])
        # if d6_check_inf(copy.deepcopy(Map),row,col,drc,turns) =='loop':
        #     # status='turn_loop_end'
        #     status='turn_loop'
    else:
        Map[row][col] = fill
        Map_c = d6_update_path(Map_c,row,col)
        Map[row_new][col_new] = drc
        d6_display([Map,Map_c],plot=p_3)
        status = 'forward'
    return Map, row_new, col_new, status, Map_c, turns
    
def d6_update_path(Map_c,r,c):
    cur = Map_c[r][c]
    cur = int(cur)+1
    Map_c[r][c] = str(cur)
    return Map_c

def d6_newwall(turns3,drc):
    if drc=='<':
        r = turns3[2][0]
        c = turns3[0][1]-1
    if drc=='^':
        r = turns3[0][0]-1
        c = turns3[2][1]
    if drc=='>':
        r = turns3[2][0]
        c = turns3[0][1]+1
    if drc=='v':
        r = turns3[0][0]+1
        c = turns3[2][1]
    return r,c

def d6_map_replace(Map,str_in,char_out):
    for i,r in enumerate(Map):
        for j,c in enumerate(r):
            x = Map[i][j]
            if x in str_in:
                x=char_out
            Map[i][j] = x
    return Map
def d6_check_inf(Map_t,row,col,drc,wall_row,wall_col):
    # nw_r,nw_c = d6_newwall(tr,drc)
    Map = copy.deepcopy(Map_t)
    print(row,col,drc,wall_row,wall_col)
    Map[wall_row][wall_col]='O'
    Map[row][col] = drc
    
    # print([row,col,drc,turns])
    # print(Map[row][col])
    # Map[0][0] = '#'
    Map = d6_map_replace(Map,'X↑→↓←','.')

    # print(type(row),row)
    # Map[row][col] = 'a'
    # print(row,col,drc)
    # print('fun_inf: new map')
    # d6_display([Map])
    mc = ''
    t = ''
    MapB=''
    loop_c=0
    for i in range(100000):
        # print(sep,i)
        Map,row,col,status,mc,t = d6_update(Map,row,col,'','',plot='None')
        
        if 'turn' in status:
            if d6_map_replace(copy.deepcopy(Map),'X↑→↓←^>v<','X') == MapB:
                loop_c+=1
                # print('loop_c increase')
            MapB = d6_map_replace(copy.deepcopy(Map),'X↑→↓←^>v<','X')
            # d6_display([Map,MapB])
        if 'end' in status:
            break
        if loop_c>50:
            print('fun_inf: inf found')
            d6_display([Map,MapB])
            # print(sep)
            return 'loop'
    print('fun_inf: inf not found',)
    # d6_display([Map,])
    print(sep)
    return 'no_loop'            
    # else:
    #     # print('fun_inf: not enough turns')
    #     # print(sep)
    #     return 'no_loop'

def d6_find_new_walls(Map,t0,t1=None,not_valid=[],log=False):
    if log:
        p = print
    else:
        def p(*args):
            pass
    max_r = len(Map)-1
    max_c = len(Map[0])-1
    p('max R,C:',max_r,max_c)
    p('points:',t0,t1)
    if t0[2]=='>':
        if t1==None:
            t1 = [max_r,max_c]
        R = [t0[0]]
        C = [i+1 for i in range(t0[1],t1[1])]
        search_R = [i+1 for i in range(t0[0],max_r)]
        search_C = [i+1 for i in range(t0[1],t1[1])]
    if t0[2]=='<':
        if t1==None:
            t1 = [0,0]
        R = [t0[0]]
        C = [i for i in range(t1[1],t0[1])]
        search_R = [i for i in range(0,t0[0])]
        search_C = [i for i in range(t1[1],t0[1])]
    if t0[2]=='v':
        if t1==None:
            t1 = [max_r,0]
        R = [i for i in range(t0[0],t1[0]+1)]
        C = [t0[1]]
        search_R = [i for i in range(t0[0],t1[0]+1)]
        search_C = [i for i in range(0,t0[1])]
    if t0[2]=='^':
        if t1==None:
            t1 = [0,max_c]
        R = [i for i in range(t1[0],t0[0])]
        C = [t0[1]]
        search_R = [i for i in range(t1[0],t0[0])]
        search_C = [i+1 for i in range(t0[1],max_c)]

    p('turn field R,C:',R,C)
    p('search field R,C',search_R,search_C)
    search_RC = []

    all_walls = d6_find(Map,'#O^>v<')
    p('all_walls:',all_walls)

    for sr in search_R:
        for sc in search_C:
            search_RC.append([sr,sc])
    p('search field RC:',search_RC)
    search_RC = [i for i in search_RC if i in all_walls]
    p('walls found:',search_RC)
                
    RC = []
    for r in R:
        for c in C:
            RC.append([r,c])
    p('possible turns:',RC)
    new_turns_RC = []
    for rc in RC:
        for s_rc in search_RC:
            if rc[0]==s_rc[0]:
                new_turns_RC.append(rc)
            if rc[1]==s_rc[1]:
                new_turns_RC.append(rc)
    p('new turns',new_turns_RC)
    p('not valid:',not_valid)
    if t0[2]=='>':
        new_walls_RC = [[i[0],i[1]+1] for i in new_turns_RC]
    if t0[2]=='<':
        new_walls_RC = [[i[0],i[1]-1] for i in new_turns_RC]
    if t0[2]=='v':
        new_walls_RC = [[i[0]+1,i[1]] for i in new_turns_RC]
    if t0[2]=='^':
        new_walls_RC = [[i[0]-1,i[1]] for i in new_turns_RC]
    p('new_walls_RC:',new_walls_RC)

    new_walls_RC = [i for i in new_walls_RC if i not in not_valid]
    new_walls_RC = [i for i in new_walls_RC if i[0] <= max_r]
    new_walls_RC = [i for i in new_walls_RC if i[1] <= max_c]
    p('new_walls_RC valid:',new_walls_RC)
    p(sep)
    return new_walls_RC
                
                

def d6_main(Map):
    row,col = d6_find(Map,'^>v<')[0]
    print(row,col)
    not_valid = d6_find(Map,'#O^>v<')
    Map_c = ''
    turns = ''
    statuses = []
    for i in range(10000):
        # print(sep,i)
        Map,row,col,status,Map_c,turns = d6_update(Map,row,col,Map_c,turns,
                                                   # plot='turns',
                                                   plot='None',
                                                  )
        statuses.append(status)
        if 'end' in status:
            break
    if status=='end':
        count = 0
        for r in Map:
            for c in r:
                if c in 'X↑→↓←':
                    count+=1
        print('final count:',count)
        # count = 0
        # for i in statuses:
        #     if i == 'turn_loop':
        #         count+=1
        # print('d6 p2:',count)
        d6_display([Map,Map_c])
        all_walls = []
        for i,t in enumerate(turns):
            if i+1 == len(turns):
                t1=None
            else:
                t1=turns[i+1]
            # if t[2]!='v':
            #     continue
            walls = d6_find_new_walls(Map,t,t1,not_valid)
            print(t,walls)
            [all_walls.append([t,i]) for i in walls]
        count=0
        print(sep)
        for start,wall in all_walls:
        # for start,wall in [[[6, 8, '<'], [6, 3]]]:
            print(start,wall)
            st = d6_check_inf(Map,start[0],start[1],start[2],wall[0],wall[1])
            if st=='loop':
                count+=1
                # break
            # break
        print('final loop count:',count)


    else:
        print('increase loop')
d6_main(l_d6)

6 4
final count: 41
....#.....	0000000000
....→→→→↓#	0000111110
....↑...↓.	0000100010
..#.↑...↓.	0000100010
..→→→→↓#↓.	0011211010
..↑.↑.↓.↓.	0010101010
.#↑←←←↓←←.	0011212110
.→→→→→→↓#.	0111112100
#↑←←←←←↓..	0111111100
......#↓..	0000000100
##################################################
[1, 4, '>'] [[1, 7], [1, 8]]
[1, 8, 'v'] [[4, 8], [5, 8]]
[6, 8, '<'] [[6, 3], [6, 6]]
[6, 2, '^'] []
[4, 2, '>'] []
[4, 6, 'v'] [[7, 6]]
[8, 6, '<'] [[8, 1], [8, 3]]
[8, 1, '^'] []
[7, 1, '>'] [[7, 7]]
[7, 7, 'v'] [[9, 7]]
##################################################
[1, 4, '>'] [1, 7]
1 4 > 1 7
fun_inf: inf not found
....#.....
....→→↓O.#
......↓...
..#...↓...
......↓#..
......↓...
.#....↓...
.→→→→→→↓#.
#↑←←←←←↓..
......#↓..
##################################################
##################################################
[1, 4, '>'] [1, 8]
1 4 > 1 8
fun_inf: inf not found
...↑#.....
...↑→→→↓O#
...↑...↓..
..#↑←←←←..
.......#..
..........
.#........
........#.
#.........
......#...
##################################################
##################################################
[1, 8, 'v'] [4, 8]
1 8 v 4 8
fun_inf: inf not found
...↑#.....
...↑....↓#
...↑....↓.
..#↑←←←←←.
.......#O.
..........
.#........
........#.
#.........
......#...
##################################################
##################################################
[1, 8, 'v'] [5, 8]
1 8 v 5 8
fun_inf: inf not found
....#...↑.
........↑#
........↑.
..#.....↑.
.......#↑.
........O.
.#........
........#.
#.........
......#...
##################################################
##################################################
[6, 8, '<'] [6, 3]
6 8 < 6 3
fun_inf: inf found
....#.....	....#.....
....→→→→v#	....XXXXX#
....↑...↓.	....X...X.
..#.↑...↓.	..#.X...X.
....↑..#↓.	....X..#X.
....↑...↓.	....X...X.
.#.O↑←←←←.	.#.OXXXXX.
........#.	........#.
#.........	#.........
......#...	......#...
##################################################
[6, 8, '<'] [6, 6]
6 8 < 6 6
fun_inf: inf not found
....#.....
.........#
..........
..#.......
.......#..
.......→→→
.#....O↑←.
........#.
#.........
......#...
##################################################
##################################################
[4, 6, 'v'] [7, 6]
4 6 v 7 6
fun_inf: inf found
....#.....	....#.....
.........#	.........#
..........	..........
..#.......	..#.......
..>→→→↓#..	..XXXXX#..
..↑...↓...	..X...X...
.#↑←←←←...	.#XXXXX...
......O.#.	......O.#.
#.........	#.........
......#...	......#...
##################################################
[8, 6, '<'] [8, 1]
8 6 < 8 1
fun_inf: inf found
....#.....	....#.....
.........#	.........#
..........	..........
..#.......	..#.......
..→→→→v#..	..XXXXX#..
..↑...↓...	..X...X...
.#↑...↓...	.#X...X...
..↑...↓.#.	..X...X.#.
#O↑←←←←...	#OXXXXX...
......#...	......#...
##################################################
[8, 6, '<'] [8, 3]
8 6 < 8 3
fun_inf: inf found
....#.....	....#.....
....→→→→v#	....XXXXX#
....↑...↓.	....X...X.
..#.↑...↓.	..#.X...X.
..→→↑→↓#↓.	..XXXXX#X.
..↑.↑.↓.↓.	..X.X.X.X.
.#↑←↑←↓←←.	.#XXXXXXX.
....↑.↓.#.	....X.X.#.
#..O↑←←...	#..OXXX...
......#...	......#...
##################################################
[7, 1, '>'] [7, 7]
7 1 > 7 7
fun_inf: inf found
....#.....	....#.....
.........#	.........#
..........	..........
..#.......	..#.......
.......#..	.......#..
..........	..........
.#........	.#........
.→→→→→↓O#.	.XXXXXXO#.
#↑←←←←<...	#XXXXXX...
......#...	......#...
##################################################
[7, 7, 'v'] [9, 7]
7 7 v 9 7
fun_inf: inf found
....#.....	....#.....
.........#	.........#
..........	..........
..#.......	..#.......
.......#..	.......#..
..........	..........
.#........	.#........
.>→→→→→↓#.	.XXXXXXX#.
#↑←←←←←←..	#XXXXXXX..
......#O..	......#O..
##################################################
final loop count: 6

In [3]:
print('↑')

↑